<!DOCTYPE html>
<html>
  <head>
    <title>Bản Đồ</title>
    <link rel="shortcut icon" href="/logo.jpg">
    <link rel="stylesheet" href="/style.css"/>
    <script src="/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
